* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* general selectors */

.flex {
    display: flex;
}

.flex-centered {
    display : flex;
    justify-content: center;
    align-items: center;
}

.centered {
    display : flex;
    justify-content: center;
    align-items: center;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

li {
    list-style-type: none;
}

/* body>header selectors */

div.header-first-part {
    padding: 1rem;
    background-color: #255ee9;
}

div.header-second-part {
    background-image: url(../img/jumbo.png);
    padding: 2.5rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 11rem;
}

div.top-container {
    width: 65%;
    /* height: 2rem; */
    margin: 0 auto;
}

div.logo {
    display: inline-block;
    height: 100%;
    width: 20%;
}

div.top-container nav {
    display: inline-block;
    height: 100%;
    width: 60%;
}

div.login {
    width: 20%;
    text-align: right;
}

div.login>button {
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    border: none;
}

div.title-container {
    width: 48%;
    margin: 0 auto;
}

nav>ul.flex-centered {
    justify-content: space-evenly;
    color: white;
}

div.title-container h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

div.title-container p {
    line-height: 1.7rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}

button.mac-downloader {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
    margin-right: 1.5rem;
}

button.open-in-browser {
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
    border: none;
    color: white;
    border-radius: 2rem;
    background-color: black;
}

.installer-links {
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 800;
}


/* body>main selectors */

section.horizontal-section {
    padding: 3rem;
    justify-content: center;
}

img.horizontal-sections-img {
    width: 36rem;
}

article {
    padding: 2rem 0 1rem 3.5rem;
}

section.horizontal-section h1,
section.inverted-horizontal-section h1 {
    font-size: 2.5rem;
}

section.horizontal-section p,
section.inverted-horizontal-section p {
    margin-top: 2rem;
    font-size: 1rem;
}


section.inverted-horizontal-section {
    padding: 3rem;
    justify-content: center;
    background-color: #f6f6f6;
}

section.horizontal-section article,
section.inverted-horizontal-section article {
    display: inline-block;
    width: 24rem;
}

section.vertical-section {
    height: 60rem;
    background-color: #f6f6f6;
    padding: 2.5rem
}

section.vertical-section>h1 {
    font-size: 2.2rem;
}

section.vertical-section>p {
    padding: 0 2rem;
    margin-top: 1.5rem;
    font-size: 0.95rem;
}

section.vertical-section article {
    text-align: center;
    height: 45rem;
    width: 60rem;
    margin: 0 auto;
    background-color: #f6f6f6;
}

.article-footer h1 {
    padding-top: 3rem;
    font-size: 1.8rem;
    background-image: url(../img/stars.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.article-footer button {
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 2rem;
    margin-top: 2rem;
    background-color: #8ea1e1;
    color: white;
}

/* body>footer selectors */

body>footer {
    padding-top: 0.5rem;
    height: 28rem;
    background-color: #23272a;
}

body>footer>nav {
    margin: 0 auto 2rem auto;
    width: 60rem;
    align-items: flex-start;
}

aside.flex {
    margin: 1.5rem auto 0 auto;
    height: 3.8rem;
    width: 60rem;
    justify-content: space-between;
    align-items: flex-start;
}

aside>button {
    padding: 0.3rem;
    background-color: #8ea1e1;
    border-radius: 3rem;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    color: white;
}

.main-footer-section {
    width: 20rem;
}

.footer-section {
    width: 10rem;
}

.main-footer-section h1 {
    font-size: 2rem;
    color: #6b81cd
}

.main-footer-section>p>img {
    vertical-align: bottom;
    height: 1rem;
}

.main-footer-section select {
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 2rem;
}

.main-footer-section p a img {
    height: 2rem;
    margin-top: 2rem;
}

.footer-section h1 {
    color: #778fe5;
    Font-size: 1rem;
    margin: 0.5rem 0 0.5rem 1rem;
}

.footer-section li {
    color: white;
    Font-size: 0.9rem;
    margin: 0.5rem 0 0.5rem 1rem;
}

hr {
    width: 60rem;
    margin: 0 auto;
    color: #4a5781;
}